<template>
    <div>
        <h1>Editar</h1>
        {{tarea.id}} - {{tarea.name}}
        <form @submit.prevent="editTarea(tarea)">
            <input type="text" v-model="tarea.name">
            <button type="submit">Editar</button>
        </form>

    </div>
</template>

<script>
import {mapActions, mapState} from 'vuex'
export default {
    name: 'Editar',
    data() {
        return {
            id: this.$route.params.id
        }
    },
    created(){
        this.getTarea(this.id);
    },
    methods:{
        ...mapActions(['getTarea', 'editTarea'])
    },
    computed:{
        ...mapState(['tarea'])
    }   
}
</script>