<template>
    <div>
        <h1>Inicio</h1>
        <router-link to='/agregar'>
            <button class="btn btn-primary">Agregar</button>
        </router-link>
        <ul>
            <li v-for="(item, index) in tareas" :key=index>
                {{item.name}} - {{item.id}}
                <router-link :to="{name: 'Editar', params: {id: item.id}}">
                     <button type="button" class="btn btn-warning">Editar</button>
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
import {mapActions, mapState} from 'vuex'

export default {
    name: 'Inicio',
    created(){
        this.getTareas()
    },
    methods: {
        ...mapActions(['getTareas'])
    },
    computed: {
        ...mapState(['tareas'])
    }
}
</script>